[submodule "dependencies/ModelSEEDpy"]
	path = dependencies/ModelSEEDpy
	url = https://github.com/ModelSEED/ModelSEEDpy.git
	branch = main
[submodule "dependencies/cobrakbase"]
	path = dependencies/cobrakbase
	url = https://github.com/Fxe/cobrakbase.git
	branch = master
[submodule "dependencies/cb_annotation_ontology_api"]
	path = dependencies/cb_annotation_ontology_api
	url = https://github.com/kbaseapps/cb_annotation_ontology_api.git
	branch = main
[submodule "dependencies/ModelSEEDDatabase"]
	path = dependencies/ModelSEEDDatabase
	url = https://github.com/ModelSEED/ModelSEEDDatabase.git
	branch = master
